MQTT_BROKER=127.0.0.1
MQTT_PORT=1883
CSV_PATH=data/measurements.csv
SQLITE_PATH=data/sensor_buffer.db
INFLUXDB_URL=https://us-west-2-1.aws.cloud2.influxdata.com
INFLUXDB_TOKEN=your_token_here
INFLUXDB_ORG=your_org_here
INFLUXDB_BUCKET=your_bucket_here
DAVIS_API_KEY=your_key_here
DAVIS_API_SECRET=your_secret_here
LOG_LEVEL=INFO
MONGO_URI=mongodb://localhost:27017
MONGO_DB=air_quality
MONGO_COLLECTION=raw_measurements
MONGO_SAVE_INTERVAL_MIN=15
